.neco{
    width: 100%;
    background-size: cover;
    height: auto;
}

.parag p {
    height: 70vh;
    width: 60%;
    overflow-x: scroll;
    margin: 0px auto;
    color: grey;
}
.cont{
    margin-top: 4rem;
    text-align: center;
}
.org h3,
p,
h4 {
    color: white;
}

.org li a {
    text-decoration: none;
}

.org li {
    list-style: none;
}

footer p {
    padding: 10px 0px
}

